body{
    background-color: #000;
}

table, td, th {
    border: 1px solid;
    border-color: #fff;
  }

table{
    color: #fff;
    width: 100%;
}

.btn{
    border-color: #000;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
}

.navbar{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex: 2;
}

.middle{
    background-color: #000;
    color: #fff;
}